body{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}

.header{
    display: flex;
    align-items: center;
    width:100%;
    height: auto;
    background-color: #3b5998; 
}

.logo{
     display: flex;
     flex:1.5;
     height: auto;
     

}

.logo_text{
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    margin-left:11%;
    margin-top: 2%;

    
}

.login{
    display: flex;
    flex: 1;
}
.login_controls{
    align-items: flex-end;

}
.login_label{
    font-size: 14px;
    color: #fff;
    
}
.subbut{
    background-color: #4267b2;
    border-color: #223d79;
    border-style:double;
    color:#fff;
    height:20px
}
.subbut:hover{
    cursor:pointer;
    background:#3b5998;


}   
.forgotten{
    color: rgb(148, 148, 199);
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}

.content{
    background: linear-gradient(white,#D3D8E8);
    width: 100%;
    height:auto;
    display: flex;
    padding-bottom: 2%;
}

.left{
    flex:1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.para{
    font-weight: bold;
    font-size: 25px;
    color: #223b70; 
}
.img{
    width: 80%;
    height: auto;
    
}

.right{
    flex:1;
    display: flex;
    flex-direction: column;
    margin-left: 2%;
} 

#ryth1{
    font-size: 40px;
    margin-top:3%;  
    margin-bottom: 1%;
}
#rytp{
    font-size: x-large;
    margin-top: 0%;
    margin-bottom: 3%;
}
.rytbutt11{
    width:42%;
    height: 10%;
    border-radius: 5px;
    border-right: 2px;
    border-width: 1px;
    border-style: double;
    border-bottom-width: 1px;
    border-color: linear-gradient(white,#D3D8E8);
    font-size: 20px;
    margin-right: 20px;
    
    
}
.rytbutt12{
    width:42%;
    height: 10%;
    border-radius: 5px;
    border-right: 2px;
    border-width: 1px;
    border-style: double;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-color: linear-gradient(white,#D3D8E8);
    font-size: 20px;
    
    
}
.rytbutt34{
    width:40%;
    height: 10%;
    border-radius: 5px;
    border-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-color: linear-gradient(white,#D3D8E8);
    font-size: 20px; 
}
.rytbutt35{
    width:50%;
    height: 10%;
    border-radius: 5px;
    border-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-color: linear-gradient(white,#D3D8E8);
    font-size: 20px;
}
#bd{
    font-size: 20px;
    color: gray;
    font-weight: bold;

    
}
.date {
    width: 45px;
    height: 7%;
    border-radius: 5px;
}
.date2 {
    width: 50px;
    height: 7%;
    border-radius: 5px;

}
#sex{
    font-size: 20px;
    color: gray;
    font-weight: bold;
}
.xtyp{
    font-size:17px;
}

#slstp{
    font-size: 12px;
    font-weight:500;
    color: grey;
    margin-top: 6%;
}
#sign{
   
    background: linear-gradient(green,#31a139);
    width: 20%;
    height: 40px;
    border-radius: 7px;
    color:whitesmoke;
    font-size: large;
    font-weight: bolder;
    border-style: solid;
    margin-top: 10px;
}
.footer{
    display: flex;
    margin-top: 0px;
}
#lstp{
    padding-left: 80px;
    font-size: larger;
    font-weight: lighter;
    color: rgb(33, 67, 99);
    margin: 0px;
}

@media (max-width: 920px){
    .content{
        flex-direction: column;
    }
    #lstp{
        padding-left:30px;
    }
}

@media (max-width: 675px){
    *{
        overflow-x: hidden;
    }
    .header{
        flex-direction: column;
    }
    #lstp{
        font-size: small;
    }
    #sign{
        font-size: small;
    }
    .logo_text{
        margin-left: 0%;
    }
    #lstp{
        padding-left:0px;
    }
    .tet{
        width:130px
    }
}
